openapi: 3.2.0
info:
  title: Lytx.Distance. Distances (DriveCam) API
  version: 1.0.0
servers:
- url: https://data.lytx.com
security:
- bearerAuth: []
tags:
- name: Distances (DriveCam)
paths:
  /v1/distances:
    get:
      tags:
      - Distances (DriveCam)
      summary: Retrieve Distances
      description: Retrieve a list of distances in a organization or subset of an organization.
      parameters:
      - name: deviceIdentifier
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          example: 5100FFFF-60B6-D7CD-3FA2-22CA712B0000
        description: Filter by Device Identifier.
      - name: groupIdentifier
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          example: 5100FFFF-60B6-D7CD-3FA2-22CA712B0000
        description: Filter by Group Identifier.
      - name: vehicleIdentifier
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          example: 5100FFFF-60B6-D7CD-3FA2-22CA712B0000
        description: Filter by Vehicle Identifier.
      - name: includeSubGroups
        in: query
        required: false
        schema:
          type: boolean
          example: 'false'
        description: Include Sub Groups.
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          example: '100'
        description: Number of records to return.
      - name: offset
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          example: '1500'
        description: Record to start with.
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: '2023-06-01'
        description: Filter by start date.
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: '2023-07-01'
        description: Filter by end date.
      - name: sort
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          example: VehicleName
        description: Name of the property to sort on.
      - name: order
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          example: asc
        description: Sort direction.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        deviceId:
                          type: string
                          example: 1994FGGD-99A9-CB83-0C23-A8A3E3070000
                        distanceKm:
                          type: number
                          format: double
                          example: '1649.25'
                        groupId:
                          type: string
                          example: 1996FGGD-88A8-CB83-0C23-A8A3E3070000
                        imei:
                          type: string
                          example: ''
                        licensePlate:
                          type: string
                          example: 74980RP
                        serialNumber:
                          type: string
                          example: NT00210007
                        vehicleId:
                          type: string
                          example: 9100FGGD-48A9-CB83-0C23-A8A3E3070000
                        vehicleName:
                          type: string
                          example: Example Car
                        vin:
                          type: string
                          example: 9ATRPE9R2RO473355
                  metadata:
                    type: array
                    items:
                      properties:
                        count:
                          type: integer
                          example: '30'
                        limit:
                          type: integer
                          example: '1'
                        offset:
                          type: integer
                          example: '0'
                        startDate:
                          type: string
                          format: date-time
                        endDate:
                          type: string
                          format: date-time
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request data
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Access denied
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Non-permited user
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: No information found
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected server error occurred
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
