openapi: 3.0.1
info:
  title: Lytx..Management.Api Consent StatusData (GO9) API
  description: 'API for retrieving and updating user consent status, requiring authentication.

    '
  version: 1.0.0
servers:
- url: https://api.lytx.com/consent-management
security:
- bearerAuth: []
tags:
- name: StatusData (GO9)
paths:
  /plus/v1/statusdata:
    get:
      summary: Get Telematics Status Data
      description: Retrieve a list of all the status data in an organization or subset of an organization
      tags:
      - StatusData (GO9)
      parameters:
      - name: deviceId
        in: query
        required: false
        schema:
          type: string
          nullable: true
          example: 5100FFFF-60B6-D7CD-3FA2-22CA712B0000
        description: Can use either device serial number or device ID.
      - name: diagnosticId
        in: query
        required: false
        schema:
          type: string
          nullable: true
          example: 5100FFFF-60B6-D7CD-3FA2-22CA712B0000
        description: Can use diagnostic ID.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          nullable: true
          example: '5000'
        description: Number of records to return.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          nullable: true
          example: '1500'
        description: Record to start with.
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: '2023-06-01'
        description: The start date must be within the last 60 days.
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: '2023-06-02'
        description: End date to filter by.
      - name: order
        in: query
        required: false
        schema:
          type: string
          nullable: true
          example: asc
        description: Sort direction.
      - name: sortProperty
        in: query
        required: false
        schema:
          type: string
          nullable: true
          example: name
        description: Name of property to sort on.
      - name: version
        in: query
        required: true
        schema:
          type: string
          nullable: true
          example: 1
        description: API version number.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StatusDataResponseViewModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Access denied
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Non-permited user
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: No information found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected server error occurred
components:
  schemas:
    StatusDataResponseViewModel:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: status-12345
          description: Unique identifier of the status data record.
        deviceId:
          type: string
          nullable: true
          example: device-67890
          description: Unique identifier of the device that reported the status data.
        diagnosticId:
          type: string
          nullable: true
          example: diag-ABC123
          description: Identifier of the diagnostic associated with this status data.
        data:
          type: number
          format: double
          nullable: true
          example: 78.5
          description: Measured or reported status value for the diagnostic.
        dateTime:
          type: string
          format: date-time
          nullable: true
          example: '2025-01-20T10:30:00.000Z'
          description: Date and time when the status data was recorded.
        version:
          type: string
          nullable: true
          example: v1.0
          description: Version of the data or protocol used to report the status.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
