openapi: 3.0.1
info:
  title: Lytx..Management.Api Consent Diagnostics (GO9) API
  description: 'API for retrieving and updating user consent status, requiring authentication.

    '
  version: 1.0.0
servers:
- url: https://api.lytx.com/consent-management
security:
- bearerAuth: []
tags:
- name: Diagnostics (GO9)
paths:
  /plus/v1/diagnostics:
    get:
      summary: Get Telematics Diagnostics Data
      description: Retrieve engine computer module (ECM) data from vehicles
      tags:
      - Diagnostics (GO9)
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          nullable: true
          example: '5000'
        description: Number of records to return.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          nullable: true
          example: '1500'
        description: Record to start with.
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: '2023-06-01'
        description: The start date must be within the last 60 days.
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: '2023-06-02'
        description: End date to filter by.
      - name: order
        in: query
        required: false
        schema:
          type: string
          nullable: true
          example: asc
        description: Sort direction.
      - name: sortProperty
        in: query
        required: false
        schema:
          type: string
          nullable: true
          example: name
        description: Name of property to sort on.
      - name: version
        in: query
        required: true
        schema:
          type: string
          nullable: true
          example: 1
        description: API version number.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiagnosticResponseViewModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Access denied
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Non-permited user
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: No information found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected server error occurred
components:
  schemas:
    DiagnosticResponseViewModel:
      type: object
      properties:
        code:
          type: integer
          example: 101
          description: Numeric code identifying the diagnostic.
        controller:
          type: object
          nullable: true
          description: Controller associated with the diagnostic (if any).
        diagnosticType:
          type: string
          example: Engine
          description: Type/category of the diagnostic.
        faultResetMode:
          type: string
          example: Automatic
          description: Mode of fault reset.
        id:
          type: string
          example: d1f6e56d-1234-4567-89ab-cdef12345678
          description: Unique identifier for the diagnostic.
        isReadOnly:
          type: boolean
          example: false
          description: Indicates if the diagnostic is read-only.
        name:
          type: string
          example: Engine Overheat
          description: Name of the diagnostic.
        source:
          type: object
          nullable: true
          description: Source object of the diagnostic.
        tamperingDiagnostics:
          type: integer
          example: 0
          description: Number of tampering-related diagnostics.
        unitOfMeasure:
          type: object
          nullable: true
          description: Unit of measure for the diagnostic value.
        version:
          type: string
          example: v1.0
          description: Version of the diagnostic data.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
