x-generator: NSwag v13.9.4.0 (NJsonSchema v10.3.1.0 (Newtonsoft.Json v12.0.0.0))
openapi: 3.0.0
info:
  title: HOS API
  version: 1.0.0
servers:
  - url: https://lytx-api.prod2.ph.lytx.com/hos
  - url: https://lytx-api.prod5.ph.lytx.com/hos
  - url: https://lytx-api.prod6.lv.lytx.com/hos
  - url: https://lytx-api.prod7.lv.lytx.com/hos
  - url: https://lytx-api.prod8.lv.lytx.com/hos
paths:
  /:
    get:
      tags:
        - HOS (DriveCam)
      summary: Get HOS Logs for All Users
      description: >-
        This endpoint is used to retrieve HOS Logs as a batch for all users for
        your company
      operationId: Hos_GetHosLogs
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
          required: true
          x-position: 1
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
          required: true
          description: End date must be within 1 day for company
          x-position: 2
      responses:
        '200':
          description: HOS Logs retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HosLogByCompany'
          x-expectedSchemas:
            - description: HOS Logs retrieved.
              schema:
                nullable: true
                oneOf:
                  - $ref: '#/components/schemas/HosLogByUser'
            - description: HOS Logs retrieved.
              schema:
                nullable: true
                oneOf:
                  - $ref: '#/components/schemas/HosLogByCompany'
        '204':
          description: >-
            The requested resource contained no data. The user does not have any
            data associated to it.
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Can occur due to inputting an invalid key, or invalid pod
          content:
            application/json:
              schema:
                type: string
        '403':
          description: >-
            Access is denied for this API. The given APIKey's context does not
            have the proper permissions.
          content:
            application/json:
              schema:
                type: string
        '404':
          description: >-
            The requested resource does not exist or is not available within the
            given APIKey's context.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: string
  /{userName}:
    get:
      tags:
        - HOS (DriveCam)
      summary: Get HOS Logs for Specified User
      description: This endpoint is used to retrieve HOS Logs for the user
      operationId: Hos_GetHosLogs_ByUser
      parameters:
        - name: userName
          in: path
          required: true
          schema:
            type: string
            nullable: true
          x-position: 1
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
          required: true
          x-position: 2
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
          required: true
          description: End date must be within 8 days for user
          x-position: 3
      responses:
        '200':
          description: HOS Logs retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HosLogByUser'
          x-expectedSchemas:
            - description: HOS Logs retrieved.
              schema:
                nullable: true
                oneOf:
                  - $ref: '#/components/schemas/HosLogByUser'
            - description: HOS Logs retrieved.
              schema:
                nullable: true
                oneOf:
                  - $ref: '#/components/schemas/HosLogByCompany'
        '204':
          description: >-
            The requested resource contained no data. The user does not have any
            data associated to it.
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Can occur due to inputting an invalid key, or invalid pod
          content:
            application/json:
              schema:
                type: string
        '403':
          description: >-
            Access is denied for this API. The given APIKey's context does not
            have the proper permissions.
          content:
            application/json:
              schema:
                type: string
        '404':
          description: >-
            The requested resource does not exist or is not available within the
            given APIKey's context.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    HosLogByUser:
      type: object
      additionalProperties: false
      properties:
        userName:
          type: string
          nullable: true
        hosLogs:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/HosLog'
    HosLog:
      type: object
      additionalProperties: false
      properties:
        userName:
          type: string
          nullable: true
        dateTime:
          type: string
          format: date-time
        vehicleName:
          type: string
          nullable: true
        companyId:
          type: integer
          format: int32
        editDateTime:
          type: string
          format: date-time
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        status:
          type: string
          nullable: true
        verifyDateTime:
          type: string
          format: date-time
        origin:
          type: string
          nullable: true
        serialNumber:
          type: string
          nullable: true
        deviceId:
          type: string
          nullable: true
        userId:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        malfunction:
          type: string
          nullable: true
        odometer:
          type: number
          format: double
        engineHours:
          type: number
          format: float
        eventRecordStatus:
          type: integer
          format: int32
        eventCode:
          type: integer
          format: int32
        eventType:
          type: integer
          format: int32
        shipmentCommodity:
          type: string
          nullable: true
        shipmentDocumentNumber:
          type: string
          nullable: true
    HosLogByCompany:
      type: object
      additionalProperties: false
      properties:
        users:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/HosLogByUser'
  securitySchemes:
    APIKey:
      type: apiKey
      description: Enter your API key
      name: X-APIKey
      in: header
security:
  - APIKey: []
tags:
  - name: HOS (DriveCam)
    description: >-
      Legacy API to get HOS Logs by Driver and Company. Uses obsolete X-APIKey
      authentication.
