x-generator: NSwag v13.9.4.0 (NJsonSchema v10.3.1.0 (Newtonsoft.Json v12.0.0.0))
openapi: 3.0.0
info:
  title: GROUPS API
  version: 1.0.0
servers:
  - url: https://lytx-api.prod2.ph.lytx.com/groups
  - url: https://lytx-api.prod5.ph.lytx.com/groups
  - url: https://lytx-api.prod6.lv.lytx.com/groups
  - url: https://lytx-api.prod7.lv.lytx.com/groups
  - url: https://lytx-api.prod8.lv.lytx.com/groups
paths:
  /:
    get:
      tags:
        - Groups (DriveCam)
      summary: Return Groups Data
      operationId: Groups_GetGroups
      parameters:
        - name: id
          in: query
          description: >-
            Id of the group of interest. Either GUID or URL-Encoded version of
            path\to\group string depending on groupOption value.
                        If not specified, response will contain all groups data for the homegroup of the user who created the API token being used on the call 
                        data with or without its underlying subgroups depending on includeSubgroups value.
          schema:
            type: string
            nullable: true
          x-position: 1
        - name: groupOption
          in: query
          description: >-
            Option to retrieve groups info, either by its 'id' (GUID) or by
            'path'.
                        If id was not specified groupOption is ignored and data will be returned as neither id or groupOpion were specified.
          schema:
            type: string
            default: id
            nullable: true
          x-position: 2
        - name: includeSubgroups
          in: query
          description: >-
            Indicates whether results should include data for all subgroups of
            the group specified.
          schema:
            type: boolean
            default: true
          x-position: 3
        - name: page
          in: query
          description: |-
            Number of the page of group records to be returned.
                        If not provided, first page of records will be returned.
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 4
        - name: limit
          in: query
          description: >-
            Indicates count of items to retrieve. By default the service will
            return 100 items.
          schema:
            type: integer
            format: int32
            default: 100
            maximum: 100
            minimum: 1
          x-position: 5
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupInfo'
        '204':
          description: No groups found.
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Can occur due to inputting an invalid key, or invalid pod.
          content:
            application/json:
              schema:
                type: string
        '403':
          description: >-
            Access is denied for this API. The given APIKey's context does not
            have the proper permissions.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    GroupInfo:
      type: object
      additionalProperties: false
      required:
        - id
        - parentId
        - fullPath
        - name
        - aRevision
        - aRevisionDate
        - creationDate
      properties:
        id:
          type: string
          description: Unique id of the group within the system.
          format: guid
          minLength: 1
        parentId:
          type: string
          description: Unique group id of the parent of the particular group.
          format: guid
          minLength: 1
        fullPath:
          type: string
          description: Full path to the group, includes escaping of special characters.
          minLength: 1
        name:
          type: string
          description: Name of the group.
          minLength: 1
        aRevision:
          type: integer
          description: Revision number of the group object.
          format: int32
        aRevisionDate:
          type: string
          description: Latest revision date of the group.
          format: date-time
          minLength: 1
        creationDate:
          type: string
          description: Creation date of the group
          format: date-time
          minLength: 1
  securitySchemes:
    APIKey:
      type: apiKey
      description: Enter your API key
      name: X-APIKey
      in: header
security:
  - APIKey: []
tags:
  - name: Groups (DriveCam)
    description: Legacy API to retrieve groups data. Uses obsolete X-APIKey authentication.
