openapi: 3.0.1
info:
  title: Lytx.Telematics.Fleet.Api - Groups
  description: API for accessing Groups data, requiring authentication.
  version: 1.0.0
servers:
  - url: https://api.lytx.com
security:
  - bearerAuth: []
paths:
  /plus/v1/groups:
    get:
      summary: Get Telematics Groups Data
      description: >-
        Retrieve a list of all the groups in an organization or subset of an
        organization
      tags:
        - Groups (GO9)
      parameters:
        - name: groupIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            nullable: true
            example:
              - 5100FFFF-60B6-D7CD-3FA2-22CA712B0000
              - 5100AAAA-12B6-D7CD-3FA2-22CA712B1111
          description: Can use one or more group IDs or root group IDs
        - name: includeSubGroups
          in: query
          required: false
          schema:
            type: boolean
            example: 'false'
            nullable: false
            default: false
          description: >-
            If true, all descendant groups under the specified group are
            included.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            nullable: true
            example: '5000'
          description: Number of records to return.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            nullable: true
            example: '1500'
          description: Record to start with.
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2023-06-01'
          description: The start date must be within the last 60 days.
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2023-06-02'
          description: End date to filter by.
        - name: order
          in: query
          required: false
          schema:
            type: string
            nullable: true
            example: asc
          description: Sort direction.
        - name: sortProperty
          in: query
          required: false
          schema:
            type: string
            nullable: true
            example: name
          description: Name of property to sort on.
        - name: version
          in: query
          required: true
          schema:
            type: string
            nullable: true
            example: 1
          description: API version number.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupResponseViewModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Access denied
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Non-permited user
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: No information found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected server error occurred
components:
  schemas:
    GroupResponseViewModel:
      type: object
      properties:
        id:
          type: string
          nullable: false
          example: grp-123
          description: Unique identifier of the group.
        name:
          type: string
          nullable: false
          example: Drivers Group
          description: Name of the group.
        comment:
          type: string
          example: Main driver group
          description: Additional comments about the group.
        reference:
          type: string
          example: REF123
          description: Reference information for the group.
        parent:
          $ref: '#/components/schemas/GroupResponseViewModel'
        children:
          type: array
          items:
            $ref: '#/components/schemas/GroupResponseViewModel'
          description: List of child groups.
        color:
          $ref: '#/components/schemas/GroupResponseViewModel'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
