x-generator: NSwag v13.8.2.0 (NJsonSchema v10.2.1.0 (Newtonsoft.Json v12.0.0.0))
openapi: 3.0.0
info:
  title: VIDEO API
  version: 1.0.0
servers:
  - url: https://lytx-api.prod2.ph.lytx.com/video
  - url: https://lytx-api.prod5.ph.lytx.com/video
  - url: https://lytx-api.prod6.lv.lytx.com/video
  - url: https://lytx-api.prod7.lv.lytx.com/video
  - url: https://lytx-api.prod8.lv.lytx.com/video
paths:
  /safety/events:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return Accessible Events IDs
      operationId: Events_GetEvents
      parameters:
        - name: from
          in: query
          description: >-
            Start of a time range supplied in dateOption parameter. If not
            provided the latest events will be retrieved. Format must be
            compliant with ISO8601 and expressed in UTC format. (Example:
            2021-03-16T16:19:58.80Z).
          schema:
            type: string
            pattern: >-
              \d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z)
            nullable: true
          x-position: 1
        - name: to
          in: query
          description: >-
            End of a time range supplied in dateOption parameter. If not
            provided the latest events will be retrieved. Format must be
            compliant with ISO8601 and expressed in UTC format. (Example:
            2021-03-16T16:19:58.80Z).
          schema:
            type: string
            pattern: >-
              \d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z)
            nullable: true
          x-position: 2
        - name: dateOption
          in: query
          description: >-
            Date range option (lastUpdatedDate, recordDate). By default service
            will return the latest events.
          schema:
            type: string
            default: lastUpdatedDate
            nullable: true
          x-position: 3
        - name: groupId
          in: query
          description: >-
            Id of the group of the events of interest. If the group does not
            exist or is not visible to the user due to security then no results
            will be returned. If not supplied, then events in all groups
            accessible to the group of encompassed access key will be returned
            (GUID).
          schema:
            type: string
            pattern: >-
              ^[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$
            nullable: true
          x-position: 4
        - name: triggers
          in: query
          style: form
          explode: true
          description: Ids of triggers of events to be filtered.
          schema:
            type: array
            nullable: true
            items:
              type: integer
          x-position: 5
        - name: statuses
          in: query
          style: form
          explode: true
          description: Ids of statuses of events to be filtered.
          schema:
            type: array
            nullable: true
            items:
              type: integer
          x-position: 6
        - name: behaviors
          in: query
          style: form
          explode: true
          description: Ids of behaviors of events to be filtered.
          schema:
            type: array
            nullable: true
            items:
              type: integer
          x-position: 7
        - name: driverId
          in: query
          description: Id of a driver associated to the event (GUID).
          schema:
            type: string
            pattern: >-
              ^[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$
            nullable: true
          x-position: 8
        - name: vehicleId
          in: query
          description: Id of a vehicle associated to the event (GUID).
          schema:
            type: string
            pattern: >-
              ^[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$
            nullable: true
          x-position: 9
        - name: deviceId
          in: query
          description: Id of a device associated to the event.
          schema:
            type: string
            maxLength: 50
            minLength: 0
            nullable: true
          x-position: 10
        - name: sortDirection
          in: query
          description: >-
            Type of sorting direction (asc or desc). By default the service will
            return items in descending order.
          schema:
            type: string
            default: desc
            nullable: true
          x-position: 11
        - name: sortBy
          in: query
          description: >-
            A value to sort by (lastUpdatedDate, recordDate). By deafult the
            service will return items sorted by last updated date.
          schema:
            type: string
            default: lastUpdatedDate
            nullable: true
          x-position: 12
        - name: includeSubgroups
          in: query
          description: >-
            Indicates whether results should include data for all subgroups of
            the group specified. Default to true.
          schema:
            type: boolean
            default: true
          x-position: 13
        - name: limit
          in: query
          description: >-
            Indicates count of items to retrieve. By default the service will
            return 1000 items. Range: [1, 1000]
          schema:
            type: integer
            format: int32
            default: 1000
            maximum: 1000
            minimum: 1
          x-position: 14
        - name: page
          in: query
          description: |-
            Number of the page of event records to be returned.
                        If not provided, first page of records will be returned.
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 15
      responses:
        '200':
          description: Events retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEvents'
        '204':
          description: No events were found that match the specified selection criteria.
        '400':
          description: The parameters given in the request are invalid.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /safety/events/{id}:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return Specified Event
      operationId: Events_GetEventById
      parameters:
        - name: id
          in: path
          required: true
          description: >-
            ID or Customer specific ID of the event of interest. The parameter
            depends on idOption parameter
          schema:
            type: string
            nullable: true
          x-position: 1
        - name: includeSubgroups
          in: query
          description: >-
            Indicates whether results should include data for all subgroups of
            the group specified. Defaults to true
          schema:
            type: boolean
            default: true
          x-position: 2
        - name: idOption
          in: query
          description: >-
            Indicates whether event should be returned by ID of event (id) or
            customer id (cid). By default the service will search by event id.
          schema:
            type: string
            default: id
            nullable: true
          x-position: 3
      responses:
        '200':
          description: Event retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEvent'
        '400':
          description: The parameters given in the request are invalid.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions.
        '404':
          description: Event does not exist.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /safety/events/{eventId}/file:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return Event File for Specified Event in Specified File Format
      operationId: Events_GetEventFile
      parameters:
        - name: eventId
          in: path
          required: true
          description: Id of the event of interest.
          schema:
            type: string
            pattern: >-
              ^[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$
            nullable: true
          x-position: 1
        - name: format
          in: query
          required: true
          description: Format of the wanted file (dce or mp4).
          schema:
            type: string
            nullable: true
          x-position: 2
      responses:
        '200':
          description: File retrieved.
          content:
            application/octet-stream:
              schema:
                type: string
                format: byte
            video/mp4:
              schema:
                type: string
                format: byte
        '400':
          description: The parameters given in the request are invalid.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions. In order to enable video file downloads,
            contact lytx team.
        '404':
          description: File does not exist.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /safety/events/statuses:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return List of Possible Event Statuses
      operationId: Events_GetEventStatuses
      responses:
        '200':
          description: Event statuses retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SafetyEventStatus'
        '204':
          description: No event statuses found.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /safety/events/triggers:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return List of Possible Event Triggers
      operationId: Events_GetEventTriggers
      responses:
        '200':
          description: Event triggers retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SafetyEventTrigger'
        '204':
          description: No event triggers found.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /safety/events/triggersubtypes:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return List of Possible Event Trigger Subtypes
      operationId: Events_GetEventTriggerSubtype
      responses:
        '200':
          description: Event trigger subtype retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SafetyEventTriggerSubtype'
        '204':
          description: No event trigger subtype found.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /safety/events/behaviors:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return List of Possible Event Behaviors
      operationId: Events_GetEventBehaviors
      responses:
        '200':
          description: Event behaviors retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SafetyEventBehavior'
        '204':
          description: No event behaviors found.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /safety/events/dynamicRisks:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return List of Possible Dynamic Risks
      operationId: Events_GetDynamicRisk
      responses:
        '200':
          description: Dynamic risks retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SafetyEventDynamicRisks'
        '204':
          description: No dynamic risks found.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /safety/eventsWithMetadata:
    get:
      tags:
        - Safety (DriveCam)
      summary: Return Accessible Events with Metadata
      operationId: Events_GetEventsWithMetadata
      parameters:
        - name: from
          in: query
          description: >-
            Start of a time range supplied in dateOption parameter. If not
            provided the latest events will be retrieved. Format must be
            compliant with ISO8601 and expressed in UTC format. (Example:
            2021-03-16T16:19:58.80Z).
          schema:
            type: string
            pattern: >-
              \d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z)
            nullable: true
          x-position: 1
        - name: to
          in: query
          description: >-
            End of a time range supplied in dateOption parameter. If not
            provided the latest events will be retrieved. Format must be
            compliant with ISO8601 and expressed in UTC format. (Example:
            2021-03-16T16:19:58.80Z).
          schema:
            type: string
            pattern: >-
              \d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z)
            nullable: true
          x-position: 2
        - name: dateOption
          in: query
          description: >-
            Date range option (lastUpdatedDate, recordDate). By default service
            will return the latest events.
          schema:
            type: string
            default: lastUpdatedDate
            nullable: true
          x-position: 3
        - name: groupId
          in: query
          description: >-
            Id of the group of the events of interest. If the group does not
            exist or is not visible to the user due to security then no results
            will be returned. If not supplied, then events in all groups
            accessible to the group of encompassed access key will be returned
            (GUID).
          schema:
            type: string
            pattern: >-
              ^[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$
            nullable: true
          x-position: 4
        - name: triggers
          in: query
          style: form
          explode: true
          description: Ids of triggers of events to be filtered.
          schema:
            type: array
            nullable: true
            items:
              type: integer
          x-position: 5
        - name: statuses
          in: query
          style: form
          explode: true
          description: Ids of statuses of events to be filtered.
          schema:
            type: array
            nullable: true
            items:
              type: integer
          x-position: 6
        - name: behaviors
          in: query
          style: form
          explode: true
          description: Ids of behaviors of events to be filtered.
          schema:
            type: array
            nullable: true
            items:
              type: integer
          x-position: 7
        - name: driverId
          in: query
          description: Id of a driver associated to the event (GUID).
          schema:
            type: string
            pattern: >-
              ^[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$
            nullable: true
          x-position: 8
        - name: vehicleId
          in: query
          description: Id of a vehicle associated to the event (GUID).
          schema:
            type: string
            pattern: >-
              ^[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$
            nullable: true
          x-position: 9
        - name: deviceId
          in: query
          description: Id of a device associated to the event.
          schema:
            type: string
            maxLength: 50
            minLength: 0
            nullable: true
          x-position: 10
        - name: sortDirection
          in: query
          description: >-
            Type of sorting direction (asc or desc). By default the service will
            return items in descending order.
          schema:
            type: string
            default: desc
            nullable: true
          x-position: 11
        - name: sortBy
          in: query
          description: >-
            A value to sort by (lastUpdatedDate, recordDate). By deafult the
            service will return items sorted by last updated date.
          schema:
            type: string
            default: lastUpdatedDate
            nullable: true
          x-position: 12
        - name: includeSubgroups
          in: query
          description: >-
            Indicates whether results should include data for all subgroups of
            the group specified. Default to true.
          schema:
            type: boolean
            default: true
          x-position: 13
        - name: limit
          in: query
          description: >-
            Indicates count of items to retrieve. By default the service will
            return 1000 items. Range: [1, 1000]
          schema:
            type: integer
            format: int32
            default: 1000
            maximum: 1000
            minimum: 1
          x-position: 14
        - name: page
          in: query
          description: "Number of the page of event records to be returned.\r\n            If not provided, first page of records will be returned."
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 15
      responses:
        '200':
          description: Events retrieved with metadata.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SafetyEvent'
        '204':
          description: No events were found that match the specified selection criteria.
        '400':
          description: The parameters given in the request are invalid.
        '401':
          description: Unauthorized due to providing an invalid access key, or invalid pod.
        '403':
          description: >-
            Access is forbidden. The given API access-key does not have the
            required permissions.
        '500':
          description: Internal server error
        '503':
          description: Database is unavailable.
  /vehicles:
    get:
      tags:
        - Video (DriveCam)
      summary: Return all Vehicles for the Specified Query Terms
      operationId: Vehicle_GetVehicles
      parameters:
        - name: GroupId
          in: query
          description: An identifier to filter by a group.
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 1
        - name: PageNumber
          in: query
          description: The page number of the list of vehicles. Default value is 1.
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 2
        - name: PageSize
          in: query
          description: The number of vehicles to return per page. Default value is 50.
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 3
        - name: VehicleName
          in: query
          description: An identifier to filter by a vehicle's name.
          schema:
            type: string
            nullable: true
          x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVehiclesResponse'
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Access is denied. This can occur from an invalid key or invalid pod.
  /vehicles/{vehicleId}/timeline:
    get:
      tags:
        - Video (DriveCam)
      summary: >-
        Return Timelines That Represent When Video is Available for Specified
        Vehicle
      operationId: Vehicle_GetVehicleTimeline
      parameters:
        - name: vehicleId
          in: path
          required: true
          description: The primary identifier of the vehicle.
          schema:
            type: integer
            format: int64
            maximum: 9223372036854780000
            minimum: 1
          x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVehicleTimelineResponse'
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Access is denied. This can occur from an invalid key or invalid pod.
        '403':
          description: >-
            Access is denied for this vehicle. The given API key's context does
            not have the proper permissions.
        '404':
          description: The specified vehicle cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /vehicles/{vehicleIdentifier}:
    get:
      tags:
        - Video (DriveCam)
      summary: Return Vehicle Specified by ID or Device Serial Number
      operationId: Vehicle_GetVehicleByIdentifier
      parameters:
        - name: vehicleIdentifier
          in: path
          required: true
          description: >-
            The primary identifier of the vehicle or the device serial number
            associated to the vehicle.
          schema:
            oneOf:
              - type: integer
                format: int64
                maximum: 9223372036854780000
                minimum: 1
                description: The primary identifier of the vehicle.
              - type: string
                nullable: true
                description: The device serial number associated to the vehicle.
          x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Access is denied. This can occur from an invalid key or invalid pod.
        '403':
          description: >-
            Access is denied for this vehicle. The given API key's context does
            not have the proper permissions.
        '404':
          description: The specified vehicle cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /events:
    post:
      tags:
        - Video (DriveCam)
      summary: Creates New Event and Return ID
      operationId: Event_CreateEvent
      requestBody:
        x-name: createEventRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEventResponse'
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Access is denied. This can occur from an invalid key or invalid pod.
        '403':
          description: >-
            Access is denied to create an event. The given API key's context
            does not have the proper permissions.
    get:
      tags:
        - Video (DriveCam)
      summary: Return All Events Specified by Query Terms
      operationId: Event_SearchEvents
      parameters:
        - name: GroupId
          in: query
          description: Group identifier associated to event.
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 1
        - name: StartDate
          in: query
          required: true
          description: Events that occurred after this date. (Inclusive).
          schema:
            type: string
            format: date-time
          x-position: 2
        - name: EndDate
          in: query
          required: true
          description: Events that occurred before this date. (Inclusive).
          schema:
            type: string
            format: date-time
          x-position: 3
        - name: PageNumber
          in: query
          description: The page number of the list of events. Default value is 1.
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 4
        - name: PageSize
          in: query
          description: The number of events to return per page. Default value is 100.
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 5
        - name: LabelSearch
          in: query
          description: Label associated to event.
          schema:
            type: string
            nullable: true
          x-position: 6
        - name: VehicleName
          in: query
          description: Vehicle name associated to event.
          schema:
            type: string
            nullable: true
          x-position: 7
        - name: IncludeVideoEvents
          in: query
          description: Include events with video. Default value is true.
          schema:
            type: boolean
          x-position: 8
        - name: IncludeNoVideoEvents
          in: query
          description: Include events with no video. Default value is true.
          schema:
            type: boolean
          x-position: 9
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCollection'
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Access is denied. This can occur from an invalid key or invalid pod.
  /events/{eventId}/views/{deviceViewId}/medias/{mediaType}:
    get:
      tags:
        - Video (DriveCam)
      summary: Return Media Resource URL for Specified Event's View
      operationId: Event_GetEventViewMedia
      parameters:
        - name: eventId
          in: path
          required: true
          description: Primary event identifier.
          schema:
            type: integer
            format: int64
            maximum: 9223372036854780000
            minimum: 1
          x-position: 1
        - name: deviceViewId
          in: path
          required: true
          description: Primary identifier of a device's view.
          schema:
            type: integer
            format: int64
            maximum: 9223372036854780000
            minimum: 1
          x-position: 2
        - name: mediaType
          in: path
          required: true
          description: 'Media file type. Supported values: "mp4" or "dce".'
          schema:
            type: string
            nullable: true
          x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventViewMediaResponse'
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Access is denied. This can occur from an invalid key or invalid pod.
        '403':
          description: >-
            Access is denied for this event. The given API key's context does
            not have the proper permissions.
        '404':
          description: The specified event or its device view cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /events/{eventId}:
    get:
      tags:
        - Video (DriveCam)
      summary: Return Event Specified by its ID
      operationId: Event_GetEventById
      parameters:
        - name: eventId
          in: path
          required: true
          description: The primary event identifier.
          schema:
            type: integer
            format: int64
            maximum: 9223372036854780000
            minimum: 1
          x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: The parameters given in the request are invalid.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Access is denied. This can occur from an invalid key or invalid pod.
        '403':
          description: >-
            Access is denied for this event. The given API key's context does
            not have the proper permissions.
        '404':
          description: The specified event cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /deviceViews/{deviceViewId}/snapshot:
    get:
      tags:
        - Video (DriveCam)
      summary: Retrieve Image (snapshot) from a Device's View at the Specified Time
      operationId: DeviceView_GetDeviceViewSnapshot
      parameters:
        - name: deviceViewId
          in: path
          required: true
          description: The primary device view identifier.
          schema:
            type: integer
            format: int64
            maximum: 9223372036854780000
            minimum: 1
          x-position: 1
        - name: time
          in: query
          required: true
          schema:
            type: string
            format: date-time
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Access is denied. This can occur from an invalid key or invalid pod.
        '403':
          description: >-
            Access is denied to retrieve a snapshot. The given API key's context
            does not have the proper permissions.
        '404':
          description: A snapshot cannot be found at the specified time or device view.
          content:
            application/json:
              schema:
                type: string
        '422':
          description: The device is not online to return a snapshot.
          content:
            application/json:
              schema:
                type: string
        '502':
          description: Communication with the device has timed out.
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    GetVehiclesResponse:
      type: object
      additionalProperties: false
      properties:
        totalCount:
          type: integer
          description: >-
            The total number of vehicles that matches the query, ignoring
            pagination.
          format: int32
        vehicles:
          type: array
          description: List of paginated vehicles that matches the query.
          nullable: true
          items:
            $ref: '#/components/schemas/Vehicle'
    Vehicle:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Primary vehicle identifier.
          format: int64
        groupId:
          type: string
          description: The group identifier of the vehicle.
          format: guid
        name:
          type: string
          description: The name of the vehicle.
          nullable: true
        status:
          type: integer
          description: |-
            The current vehicle connectivity status.
            Possible values:
            3 (LoggedOut - Unknown),
            4 (LoggedOut - Disabled),
            5 (LoggedOut - PowerFail),
            8 (LoggedOut - Hibernate - Wake disabled),
            10 (LoggedOut - Hibernate - Wake enabled),
            11 (LostCommunication),
            14 (LostCommunication - Long term), or
            16 (MQTTOnline).
          format: int32
          nullable: true
        lastCommunication:
          type: string
          description: Date last communicated with vehicle.
          format: date-time
          nullable: true
        devices:
          type: array
          description: List of devices associated to vehicle.
          nullable: true
          items:
            $ref: '#/components/schemas/Device'
    Device:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Primary device identifier.
          format: int64
        serialNumber:
          type: string
          description: Physical device identifier.
          nullable: true
        lastCommunication:
          type: string
          description: Date last communicated with the device.
          format: date-time
          nullable: true
        onlineStatus:
          type: integer
          description: |-
            The current device connectivity status.
            Possible values:
            3 (LoggedOut - Unknown),
            4 (LoggedOut - Disabled),
            5 (LoggedOut - PowerFail),
            8 (LoggedOut - Hibernate - Wake disabled),
            10 (LoggedOut - Hibernate - Wake enabled),
            11 (LostCommunication),
            14 (LostCommunication - Long term), or
            16 (MQTTOnline).
          format: int32
          nullable: true
        views:
          type: array
          description: List of camera views associate to the device.
          nullable: true
          items:
            $ref: '#/components/schemas/DeviceView'
        roleId:
          type: integer
          description: 'The device role. Possible values: 0 (follower) or 1 (leader).'
          format: int32
    DeviceView:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Primary device view identifier.
          format: int64
        name:
          type: string
          description: >-
            Type of device view that corresponds to a physical camera. Possible
            values: "FORWARD", "REAR", "ANALOG_AUX_1", "ANALOG_AUX_2",
            "ANALOG_AUX_3", or "ANALOG_AUX_4".
          nullable: true
        label:
          type: string
          description: User defined label of the device's view.
          nullable: true
    GetVehicleTimelineResponse:
      type: object
      additionalProperties: false
      properties:
        viewTimelines:
          type: array
          description: >-
            List of the device's camera views and the view's timelines of
            available video. 
          nullable: true
          items:
            $ref: '#/components/schemas/DeviceViewTimeline'
        vehicleName:
          type: string
          description: Name of Vehicle.
          nullable: true
        groupId:
          type: string
          description: Group identifier associated to vehicle.
          format: guid
    DeviceViewTimeline:
      type: object
      additionalProperties: false
      properties:
        deviceView:
          type: object
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/DeviceView'
        available:
          type: boolean
          description: Whether the device view has any timeline intervals.
        timeline:
          type: array
          description: A list of intervals with video for this device's view.
          nullable: true
          items:
            $ref: '#/components/schemas/DeviceViewTimelineInterval'
    DeviceViewTimelineInterval:
      type: object
      additionalProperties: false
      properties:
        startDate:
          type: string
          description: Start date of interval.
          format: date-time
        endDate:
          type: string
          description: End date of interval.
          format: date-time
    ErrorMessage:
      type: object
      additionalProperties: false
      properties:
        error:
          type: string
          nullable: true
    CreateEventResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Primary identifier of the newly created event.
          format: int64
    CreateEventRequest:
      type: object
      additionalProperties: false
      properties:
        vehicleId:
          type: integer
          description: Vehicle identifier associated to event.
          format: int64
          maximum: 9223372036854780000
          minimum: 1
        deviceViewIds:
          type: array
          description: 'List of device view identifiers associated with event. '
          nullable: true
          items:
            type: integer
            format: int64
        requestedStartDate:
          type: string
          description: 'Event start time. '
          format: date-time
          nullable: true
        requestedEndDate:
          type: string
          description: Event end time.
          format: date-time
          nullable: true
        label:
          type: string
          description: >-
            User defined event identifier or description. Typically used to give
            events a user-friendly name.
          nullable: true
        typeId:
          type: integer
          description: >-
            Indicates the type of event. Possible values: 4 (for clip) or 7 (for
            tags). Default value is 4.
          format: int32
          maximum: 10
          minimum: 1
          example: 4
        subTypeId:
          type: integer
          description: >-
            Indicates the type of tag. Used only when the event type is a tag.
            Possible values: 3 (Custom) or leave parameter unpopulated when not
            creating a tag event.
          format: int32
          nullable: true
          example: null
        eventTime:
          type: string
          description: >-
            Time of event. The EventTime should be the same as RequestStartTime
            when an event is a clip. When the event is a tag, EventTime is the
            point of interest.
          format: date-time
    GetEventViewMediaResponse:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
          nullable: true
    Event:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Primary event identifier.
          format: int64
        eventTime:
          type: string
          description: >-
            Time of event. The EventTime is typically the RequestStartTime when
            an event is a clip. When the event is a tag, EventTime is the point
            of interest.
          format: date-time
        dateCreated:
          type: string
          description: Date when event was created.
          format: date-time
        mediaStatus:
          type: integer
          description: |-
            Indicates the event media upload progress.
            Common values:
            "1" (Not Uploaded),
            "2" (Upload Request Queued.),
            "3" (Uploading),
            "4" (Upload Complete),
            "5" (Upload Cancelled),
            or "6" (Upload Error.).
          format: int32
        vehicleId:
          type: integer
          description: 'Vehicle identifier associated to event. '
          format: int64
        eventType:
          type: integer
          description: >-
            Indicates the type of event. Possible values: 4 (for clip) or 7 (for
            tags).
          format: int32
        eventSubType:
          type: integer
          description: >-
            Indicates the type of tag. Used only when the event type is a tag.
            Possible values: 3 (Custom) or null when EventType is not a tag.
          format: int32
          nullable: true
        vehicleName:
          type: string
          description: Name of vehicle associated to event.
          nullable: true
        groupId:
          type: string
          description: Group identifier associated to event.
          format: guid
        requestedStartTime:
          type: string
          description: Event start time.
          format: date-time
        requestedEndTime:
          type: string
          description: Event end time.
          format: date-time
        label:
          type: string
          description: User defined event identifier or description.
          nullable: true
        deviceViews:
          type: array
          description: List of a device's view associated to event.
          nullable: true
          items:
            $ref: '#/components/schemas/EventDeviceView'
    EventDeviceView:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Primary device's view identifier for the event.
          format: int64
        name:
          type: string
          description: >-
            Type of device view that corresponds to a physical camera. Possible
            values: "FORWARD", "REAR", "ANALOG_AUX_1", "ANALOG_AUX_2",
            "ANALOG_AUX_3", or "ANALOG_AUX_4".
          nullable: true
        label:
          type: string
          description: User defined label of the device's view.
          nullable: true
        status:
          type: integer
          description: |-
            Indicates the event media upload progress for this specific view.
            Common values:
            "1" (Not Uploaded),
            "2" (Upload Request Queued.),
            "3" (Uploading),
            "4" (Upload Complete),
            "5" (Upload Cancelled),
            or "6" (Upload Error.).
          format: int32
          nullable: true
        currentBytes:
          type: integer
          description: Number of bytes uploaded.
          format: int64
          nullable: true
        progress:
          type: number
          description: >-
            Number to indicate upload progress. Value ranges from 0 to 1, where
            1 is when the upload has been completed.
          format: double
    EventCollection:
      type: object
      additionalProperties: false
      properties:
        totalCount:
          type: integer
          description: >-
            The total number of events that matches the query, ignoring
            pagination.
          format: int32
        events:
          type: array
          description: List of paginated events that matches the query.
          nullable: true
          items:
            $ref: '#/components/schemas/Event'
    SafetyEvents:
      type: object
      additionalProperties: false
      required:
        - totalCount
        - eventsIds
      properties:
        totalCount:
          type: integer
          description: Total count of event ids.
          format: int64
        eventsIds:
          type: array
          description: Collection of events IDs.
          items:
            type: string
            format: guid
    SafetyEvent:
      type: object
      additionalProperties: false
      required:
        - id
        - customerEventId
        - eventTriggerId
        - eventTriggerSubTypeId
        - eventStatusId
        - recordDateUTC
        - recordDateTZ
        - recordDateUTCOffset
        - score
        - erSerialNumber
        - groupId
        - creationDate
        - objectRevision
      properties:
        id:
          type: string
          description: Unique ID for the event in the system.
          format: guid
          minLength: 1
        customerEventId:
          type: string
          description: >-
            Unique ID for the event within the customer’s data(not unique across
            customers).
          minLength: 1
        eventTriggerId:
          type: integer
          description: ID of the event trigger.
        eventTriggerSubTypeId:
          type: integer
          description: ID of the event trigger subtype.
        eventStatusId:
          type: integer
          description: ID of the event status.
        recordDateUTC:
          type: string
          description: Date event was recorded in UTC.
          format: date-time
          minLength: 1
        recordDateTZ:
          type: string
          description: >-
            3-4 letter abbreviation of time zone associated with ER at time
            event was recorded.
          minLength: 1
        recordDateUTCOffset:
          type: integer
          description: >-
            Offset in minutes including sign from UTC time at which event was
            recorded.
          format: int32
        downloadedDate:
          type: string
          description: Date event was downloaded from the ER in UTC, may be null.
          format: date-time
          nullable: true
        score:
          type: integer
          description: Event’s risk score.
          format: int32
        reviewedDate:
          type: string
          description: >-
            Date event was reviewed in UTC, may be null if event hasn't been
            reviewed.
          format: date-time
          nullable: true
        erSerialNumber:
          type: string
          description: Serial number of the ER that captured the event.
          minLength: 1
        overDue:
          type: number
          description: >-
            Number of days that the event is overdue (forreviewing/coaching),
            may be null.
          format: decimal
          nullable: true
        vehicleId:
          type: string
          description: >-
            ID of the vehicle associated to the ER that captured the event, may
            be null if no vehicle is associated with the event.
          format: guid
          nullable: true
        groupId:
          type: string
          description: ID of the group that the event is associated to.
          format: guid
          minLength: 1
        forwardMax:
          type: number
          description: Maximum forward g-force that occurred within the event, may be null.
          format: decimal
          nullable: true
        lateralMax:
          type: number
          description: Maximum lateral g-force that occurred within the event, may be null.
          format: decimal
          nullable: true
        forwardThreshold:
          type: number
          description: >-
            Forward g-force threshold that ER was configured for at the time
            event was captured, may be null.
          format: decimal
          nullable: true
        lateralThreshold:
          type: number
          description: >-
            Lateral g-force threshold that ER was configured for at the time
            event was captured, may be null.
          format: decimal
          nullable: true
        shockThreshold:
          type: number
          description: >-
            Shock g-force threshold that ER was configured for at the time event
            was captured, may be null.
          format: decimal
          nullable: true
        speed:
          type: number
          description: >-
            Speed at time of trigger in meters per second, may be null if no
            speed data is available at the trigger.
          format: double
          nullable: true
        latitude:
          type: number
          description: >-
            Latitude at time of trigger, may be null if no latitude data is
            available at the trigger.
          format: decimal
          nullable: true
        longitude:
          type: number
          description: >-
            Longitude at time of trigger, may be null if no longitude data is
            available at the trigger.
          format: decimal
          nullable: true
        heading:
          type: number
          description: >-
            Heading (direction) at time of trigger, may be null if no heading
            data is available at the trigger.
          format: decimal
          nullable: true
        driverId:
          type: string
          description: >-
            ID of the driver associated with this event, may be null if no
            driver is associated with the event.
          format: guid
          nullable: true
        coachId:
          type: string
          description: >-
            ID of the coach associated with this event, may be null if no coach
            is associated with the event.
          format: guid
          nullable: true
        coachedDate:
          type: string
          description: >-
            Date when driver associated to the event was coached in UTC, may be
            null.
          format: date-time
          nullable: true
        creationDate:
          type: string
          description: Timestamp when event was created in the system.
          format: date-time
          minLength: 1
        notes:
          type: array
          description: Notes written up for this event (by reviewer, coach, and/or driver).
          nullable: true
          items:
            $ref: '#/components/schemas/Note'
        eventNotes:
          type: array
          description: EventNotes written up for this event
          nullable: true
          items:
            $ref: '#/components/schemas/Note'
        coachingSessionNotes:
          type: array
          description: CoachingSessionNotes written up for this event
          nullable: true
          items:
            $ref: '#/components/schemas/Note'
        reviewNotes:
          type: array
          description: ReviewNotes written up for this event
          nullable: true
          items:
            $ref: '#/components/schemas/Note'
        behaviors:
          type: array
          description: List of behaviors currently associated with the event,
          nullable: true
          items:
            $ref: '#/components/schemas/SafetyEventBehavior'
        dynamicRisks:
          type: array
          description: List of dynamic risks currently associated with the event,
          nullable: true
          items:
            $ref: '#/components/schemas/SafetyEventDynamicRisks'
        objectRevision:
          type: integer
          description: Revision number of the event at time data is retrieved.
          format: int32
        revisionDate:
          type: string
          description: >-
            Timestamp of last revision of the object, may be null if event
            hasn’t changed since it was created.
          format: date-time
          nullable: true
        coachingOverdueDate:
          type: string
          description: The date when the event becomes overdue for coaching.
          format: date-time
          nullable: true
        coachableDate:
          type: string
          description: The date when the event becomes coachable.
          format: date-time
          nullable: true
    Note:
      type: object
      additionalProperties: false
      required:
        - id
        - body
        - creationDate
        - authorUserId
        - firstName
        - lastName
      properties:
        id:
          type: string
          description: Id of note.
          format: guid
          minLength: 1
        body:
          type: string
          description: Content of note.
          minLength: 1
        creationDate:
          type: string
          description: Creation date of note.
          format: date-time
          minLength: 1
        authorUserId:
          type: string
          description: Id of author.
          format: guid
          minLength: 1
        firstName:
          type: string
          description: First name of author.
          minLength: 1
        lastName:
          type: string
          description: Last name of author.
          minLength: 1
    SafetyEventBehavior:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - creationDate
      properties:
        id:
          type: integer
          description: Unique id of the behavior.
          format: int32
        name:
          type: string
          description: Name of the behavior.
          minLength: 1
        creationDate:
          type: string
          description: Creation date of the behavior.
          format: date-time
          minLength: 1
        revisionDate:
          type: string
          description: >-
            Timestamp of last revision of the object, may be null if event
            hasn’t changed since it was created.
          format: date-time
          nullable: true
    SafetyEventDynamicRisks:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - creationDate
      properties:
        id:
          type: integer
          description: Unique id of the dynamic risk.
          format: int32
        name:
          type: string
          description: Name of the dynamic risk.
          minLength: 1
        creationDate:
          type: string
          description: Creation date of the dynamic risk.
          format: date-time
          minLength: 1
    SafetyEventStatus:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - creationDate
      properties:
        id:
          type: integer
          description: Unique id of the status.
          format: int32
        name:
          type: string
          description: Name of the status.
          minLength: 1
        creationDate:
          type: string
          description: Creation date of the status.
          format: date-time
          minLength: 1
        revisionDate:
          type: string
          description: >-
            Timestamp of last revision of the object, may be null if event
            hasn’t changed since it was created.
          format: date-time
          nullable: true
    SafetyEventTrigger:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - creationDate
      properties:
        id:
          type: integer
          description: Unique id of the trigger.
          format: int32
        name:
          type: string
          description: Name of the trigger.
          minLength: 1
        creationDate:
          type: string
          description: Creation date of the trigger.
          format: date-time
          minLength: 1
        revisionDate:
          type: string
          description: >-
            Timestamp of last revision of the object, may be null if event
            hasn’t changed since it was created.
          format: date-time
          nullable: true
    SafetyEventTriggerSubtype:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - creationDate
      properties:
        id:
          type: integer
          description: Unique id of the trigger subtype.
          format: int32
        name:
          type: string
          description: Name of the trigger subtype.
          minLength: 1
        creationDate:
          type: string
          description: Creation date of the trigger subtype.
          format: date-time
          minLength: 1
        revisionDate:
          type: string
          description: >-
            Timestamp of last revision of the object, may be null if event
            hasn’t changed since it was created.
          format: date-time
          nullable: true
  securitySchemes:
    APIKey:
      type: apiKey
      description: Enter your API key
      name: X-APIKey
      in: header
security:
  - APIKey: []
tags:
  - name: Safety (DriveCam)
    description: >-
      Legacy API to retrieve vehicles events data. Uses obsolete X-APIKey
      authentication.
  - name: Video (DriveCam)
    description: >-
      Legacy API to retrieve LVS vehicle data, LVS events or image data from a
      device. Uses obsolete X-APIKey authentication.
