openapi: 3.0.1
info:
  title: Lytx.Telematics.Fleet.Api - Device
  description: API for accessing Device data, requiring authentication.
  version: 1.0.0
servers:
  - url: https://api.lytx.com
security:
  - bearerAuth: []
paths:
  /plus/v1/device:
    get:
      summary: Get Telematics Device Data
      description: >-
        Retrieve a list of the devices in an organization or subset of an
        organization
      tags:
        - Devices (GO9)
      parameters:
        - name: groupId
          in: query
          schema:
            type: string
            nullable: true
            example: 5100FFFF-60B6-D7CD-3FA2-22CA712B0000
          description: Can use group ID or root group ID.
        - name: includeSubGroups
          in: query
          required: false
          schema:
            type: boolean
            example: 'false'
            nullable: false
            default: true
          description: >-
            If true, all descendant groups under the specified group are
            included.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            nullable: true
            example: '5000'
          description: Number of records to return.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            nullable: true
            example: '1500'
          description: Record to start with.
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2023-06-01'
          description: The start date must be within the last 60 days.
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2023-06-02'
          description: End date to filter by.
        - name: order
          in: query
          required: false
          schema:
            type: string
            nullable: true
            example: asc
          description: Sort direction.
        - name: sortProperty
          in: query
          required: false
          schema:
            type: string
            nullable: true
            example: name
          description: Name of property to sort on.
        - name: version
          in: query
          required: true
          schema:
            type: string
            nullable: true
            example: 1
          description: API version number.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeviceResponseViewModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Access denied
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Non-permited user
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: No information found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected server error occurred
components:
  schemas:
    DeviceResponseViewModel:
      type: object
      properties:
        id:
          type: string
          nullable: false
          example: 1b33bcbe-15d3-445e-a06f-dda61208ad18
          description: Unique ID for the device.
        activeFrom:
          type: string
          format: date-time
          nullable: true
          example: '2023-10-06T00:22:30.000Z'
          description: Start date when the device became active.
        activeTo:
          type: string
          format: date-time
          nullable: true
          example: '2025-10-06T00:22:30.000Z'
          description: End date until which the device remains active.
        comment:
          type: string
          nullable: true
          example: Installed in vehicle A123
          description: Additional comments about the device.
        groups:
          type: array
          items:
            type: string
          nullable: true
          example:
            - Group1
            - Group2
          description: List of groups associated with the device.
        timeZoneId:
          type: string
          nullable: true
          example: America/Toronto
          description: Time zone assigned to the device.
        deviceFlags:
          type: string
          nullable: true
          example: FLAG_001
          description: Flags indicating device-specific properties.
        deviceType:
          type: string
          nullable: true
          example: GO9
          description: Type/model of the device.
        hardwareId:
          type: string
          nullable: true
          example: HW-ABC-12345
          description: Hardware identifier of the device.
        ignoreDownloadsUntil:
          type: string
          format: date-time
          nullable: true
          example: '2025-05-15T12:00:00.000Z'
          description: The device should ignore downloads until this time.
        maxSecondsBetweenLogs:
          type: integer
          nullable: true
          example: 300
          description: Maximum number of seconds allowed between logs.
        name:
          type: string
          nullable: true
          example: Device A123
          description: Name assigned to the device.
        productId:
          type: string
          nullable: true
          example: PROD-456
          description: Product identifier of the device.
        serialNumber:
          type: string
          nullable: true
          example: SN123456789
          description: Serial number of the device.
        timeToDownload:
          type: string
          format: date-time
          nullable: true
          example: '2025-09-20T10:00:00.000Z'
          description: Scheduled time for the device to download updates.
        workTime:
          type: string
          nullable: true
          example: 08:00-17:00
          description: Work time configuration of the device.
        registerDeviceResultLite:
          type: object
          nullable: true
          description: Registration result details for the device.
        devicePlanBillingInfo:
          type: object
          nullable: true
          description: Billing information for the device plan.
        deviceReplacementInfo:
          type: object
          nullable: true
          description: Replacement information for the device.
        customProperties:
          type: object
          nullable: true
          description: Custom properties associated with the device.
        mediaFiles:
          type: array
          items:
            type: string
          nullable: true
          example:
            - file1.jpg
            - file2.mp4
          description: Media files linked to the device.
        tmpTrailerId:
          type: string
          nullable: true
          example: TRAILER-123
          description: Temporary trailer ID linked to the device.
        version:
          type: string
          nullable: true
          example: v1.2.3
          description: Version information of the device.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
