openapi: 3.0.1
info:
  title: Lytx.Telematics.Fleet.Api - Rules
  description: API for accessing Rules data, requiring authentication.
  version: 1.0.0
servers:
  - url: https://api.lytx.com
security:
  - bearerAuth: []
paths:
  /plus/v1/rule:
    get:
      summary: Get Rules Data
      description: Retrieve a list of Rules
      tags:
        - Rule (GO9)
      parameters:
        - name: groupId
          in: query
          required: false
          schema:
            type: string
            nullable: true
            example: 5100FFFF-60B6-D7CD-3FA2-22CA712B0000
          description: Can use group ID or root group ID.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            nullable: true
            example: '5000'
          description: Number of records to return.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            nullable: true
            example: '1500'
          description: Record to start with.
        - name: order
          in: query
          required: false
          schema:
            type: string
            nullable: true
            example: asc
          description: Sort direction.
        - name: sortProperty
          in: query
          required: false
          schema:
            type: string
            nullable: true
            example: name
          description: Name of property to sort on.
        - name: version
          in: query
          required: true
          schema:
            type: string
            nullable: true
            example: 1
          description: API version number.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RuleResponseViewModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Access denied
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Non-permited user
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: No information found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected server error occurred
components:
  schemas:
    RuleResponseViewModel:
      type: object
      properties:
        activeFrom:
          type: string
          format: date-time
          nullable: true
          example: '2023-10-06T00:22:30.000Z'
          description: Start date when the rule became active.
        activeTo:
          type: string
          format: date-time
          nullable: true
          example: '2025-10-06T00:22:30.000Z'
          description: End date until which the rule remains active.
        baseType:
          type: string
          nullable: true
          example: SpeedingRule
          description: Base type of the rule.
        color:
          $ref: '#/components/schemas/ColorResponseViewModel'
        comment:
          type: string
          nullable: true
          example: Triggers when speed exceeds limit
          description: Additional comments about the rule.
        condition:
          $ref: '#/components/schemas/ConditionResponseViewModel'
        groups:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/GroupResponseViewModel'
          description: List of groups associated with the rule.
        id:
          type: string
          nullable: true
          example: 1b33bcbe-15d3-445e-a06f-dda61208ad18
          description: Unique identifier for the rule.
        name:
          type: string
          nullable: true
          example: Speeding Rule
          description: Name of the rule.
        version:
          type: string
          nullable: true
          example: v1.0.0
          description: Version information of the rule.
    ColorResponseViewModel:
      type: object
      properties:
        a:
          type: integer
          nullable: true
          example: 255
          description: Alpha channel value (0-255).
        b:
          type: integer
          nullable: true
          example: 0
          description: Blue channel value (0-255).
        g:
          type: integer
          nullable: true
          example: 128
          description: Green channel value (0-255).
        r:
          type: integer
          nullable: true
          example: 255
          description: Red channel value (0-255).
    ConditionResponseViewModel:
      type: object
      properties:
        children:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ConditionResponseViewModel'
          description: Nested child conditions.
        conditionType:
          type: string
          nullable: true
          example: SpeedCondition
          description: Type of the condition.
        device:
          $ref: '#/components/schemas/DeviceResponseViewModel'
        diagnostic:
          $ref: '#/components/schemas/DiagnosticResponseViewModel'
        driver:
          $ref: '#/components/schemas/UserResponseViewModel'
        group:
          $ref: '#/components/schemas/GroupResponseViewModel'
        id:
          type: string
          nullable: true
          example: cond-abc-123
          description: Unique identifier for the condition.
        value:
          type: number
          format: double
          nullable: true
          example: 90.5
          description: Numeric threshold value for the condition.
        workTime:
          $ref: '#/components/schemas/WorkTimeResponseViewModel'
        zone:
          $ref: '#/components/schemas/ZoneResponseViewModel'
    WorkTimeResponseViewModel:
      type: object
      properties:
        comment:
          type: string
          nullable: true
          example: Standard working hours
          description: Additional comments about the work time.
        details:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/WorkTimeDetailResponseEntity'
          description: List of work time detail entries per day.
        holidayGroup:
          $ref: '#/components/schemas/WorkTimeHolidayGroupIdResponseViewModel'
        id:
          type: string
          nullable: true
          example: wt-001
          description: Unique identifier for the work time.
        name:
          type: string
          nullable: true
          example: Weekday Schedule
          description: Name of the work time configuration.
    WorkTimeDetailResponseEntity:
      type: object
      properties:
        dayOfWeek:
          type: string
          nullable: true
          example: Monday
          description: Day of the week this detail applies to.
        fromTime:
          type: string
          nullable: true
          example: '08:00:00'
          description: Start time for the work period.
        id:
          type: string
          nullable: true
          example: wtd-001
          description: Unique identifier for the work time detail.
        toTime:
          type: string
          nullable: true
          example: '17:00:00'
          description: End time for the work period.
    WorkTimeHolidayGroupIdResponseViewModel:
      type: object
      properties:
        groupId:
          type: string
          nullable: true
          example: hg-001
          description: Identifier of the holiday group.
    ZoneResponseViewModel:
      type: object
      properties:
        activeFrom:
          type: string
          format: date-time
          nullable: true
          example: '2023-01-01T00:00:00.000Z'
          description: Start date when the zone became active.
        activeTo:
          type: string
          format: date-time
          nullable: true
          example: '2025-12-31T23:59:59.000Z'
          description: End date until which the zone remains active.
        comment:
          type: string
          nullable: true
          example: City center boundary
          description: Additional comments about the zone.
        groups:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/GroupResponseViewModel'
          description: List of groups associated with the zone.
        id:
          type: string
          nullable: true
          example: zone-001
          description: Unique identifier of the zone.
        name:
          type: string
          nullable: true
          example: Downtown Zone
          description: Name of the zone.
        zoneTypes:
          type: array
          nullable: true
          items:
            type: string
          example:
            - Customer
            - Restricted
          description: Types assigned to this zone.
    DiagnosticResponseViewModel:
      type: object
      properties:
        code:
          type: string
          nullable: true
          example: P0300
          description: Diagnostic trouble code.
        id:
          type: string
          nullable: true
          example: diag-001
          description: Unique identifier for the diagnostic.
        name:
          type: string
          nullable: true
          example: Engine Fault
          description: Name of the diagnostic.
        sourceAddress:
          type: integer
          nullable: true
          example: 0
          description: Source address of the diagnostic.
        unitOfMeasure:
          type: object
          nullable: true
          description: Unit of measure associated with the diagnostic value.
    DeviceResponseViewModel:
      type: object
      properties:
        id:
          type: string
          nullable: false
          example: 1b33bcbe-15d3-445e-a06f-dda61208ad18
          description: Unique ID for the device.
        activeFrom:
          type: string
          format: date-time
          nullable: true
          example: '2023-10-06T00:22:30.000Z'
          description: Start date when the device became active.
        activeTo:
          type: string
          format: date-time
          nullable: true
          example: '2025-10-06T00:22:30.000Z'
          description: End date until which the device remains active.
        comment:
          type: string
          nullable: true
          example: Installed in vehicle A123
          description: Additional comments about the device.
        groups:
          type: array
          items:
            type: string
          nullable: true
          example:
            - Group1
            - Group2
          description: List of groups associated with the device.
        timeZoneId:
          type: string
          nullable: true
          example: America/Toronto
          description: Time zone assigned to the device.
        deviceFlags:
          type: string
          nullable: true
          example: FLAG_001
          description: Flags indicating device-specific properties.
        deviceType:
          type: string
          nullable: true
          example: GO9
          description: Type/model of the device.
        hardwareId:
          type: string
          nullable: true
          example: HW-ABC-12345
          description: Hardware identifier of the device.
        ignoreDownloadsUntil:
          type: string
          format: date-time
          nullable: true
          example: '2025-05-15T12:00:00.000Z'
          description: The device should ignore downloads until this time.
        maxSecondsBetweenLogs:
          type: integer
          nullable: true
          example: 300
          description: Maximum number of seconds allowed between logs.
        name:
          type: string
          nullable: true
          example: Device A123
          description: Name assigned to the device.
        productId:
          type: string
          nullable: true
          example: PROD-456
          description: Product identifier of the device.
        serialNumber:
          type: string
          nullable: true
          example: SN123456789
          description: Serial number of the device.
        timeToDownload:
          type: string
          format: date-time
          nullable: true
          example: '2025-09-20T10:00:00.000Z'
          description: Scheduled time for the device to download updates.
        workTime:
          type: string
          nullable: true
          example: 08:00-17:00
          description: Work time configuration of the device.
        registerDeviceResultLite:
          type: object
          nullable: true
          description: Registration result details for the device.
        devicePlanBillingInfo:
          type: object
          nullable: true
          description: Billing information for the device plan.
        deviceReplacementInfo:
          type: object
          nullable: true
          description: Replacement information for the device.
        customProperties:
          type: object
          nullable: true
          description: Custom properties associated with the device.
        mediaFiles:
          type: array
          items:
            type: string
          nullable: true
          example:
            - file1.jpg
            - file2.mp4
          description: Media files linked to the device.
        tmpTrailerId:
          type: string
          nullable: true
          example: TRAILER-123
          description: Temporary trailer ID linked to the device.
        version:
          type: string
          nullable: true
          example: v1.2.3
          description: Version information of the device.
    UserResponseViewModel:
      type: object
      properties:
        id:
          type: string
          nullable: false
          example: 1b33bcbe-15d3-445e-a06f-dda61208ad18
          description: Unique identifier for the user.
        firstName:
          type: string
          nullable: false
          example: John
          description: First name of the user.
        lastName:
          type: string
          nullable: false
          example: Doe
          description: Last name of the user.
        name:
          type: string
          nullable: true
          example: John Doe
          description: Full name of the user.
        licenseNumber:
          type: string
          nullable: true
          example: DL-123456
          description: License number of the user.
        licenseProvince:
          type: string
          nullable: true
          example: CA
          description: Province/state of the license.
        acceptedEULA:
          type: integer
          nullable: false
          example: 1
          description: Version of the EULA accepted.
        driveGuideVersion:
          type: integer
          example: 2
          description: Drive Guide version used by the user.
        wifiEULA:
          type: integer
          example: 1
          description: WiFi EULA acceptance version.
        activeFrom:
          type: string
          format: date-time
          example: '2023-10-06T00:22:30.000Z'
          description: Start date from which the user is active (UTC).
        activeTo:
          type: string
          format: date-time
          example: '2025-10-06T00:22:30.000Z'
          description: End date until which the user is active (UTC).
        lastAccessDate:
          type: string
          format: date-time
          example: '2025-09-15T12:22:30.000Z'
          description: Last time the user accessed the system.
        companyName:
          type: string
          example: Acme Corp
          description: Name of the company the user belongs to.
        companyAddress:
          type: string
          example: 123 Main Street, Toronto, ON
          description: Address of the company.
        carrierNumber:
          type: string
          example: CARR123
          description: Carrier number.
        isDriver:
          type: boolean
          example: true
          description: Indicates whether the user is a driver.
        isEmailReportEnabled:
          type: boolean
          example: false
          description: Whether email reports are enabled for the user.
        language:
          type: string
          example: en-US
          description: Preferred language of the user.
        timeZoneId:
          type: string
          example: America/Toronto
          description: Time zone of the user.
        userAuthenticationType:
          type: integer
          example: 1
          description: Authentication type of the user.
        zoneDisplayMode:
          type: integer
          example: 2
          description: Zone display mode preference.
        driverGroups:
          type: array
          items:
            $ref: '#/components/schemas/GroupResponseViewModel'
          description: List of driver groups associated with the user.
        companyGroups:
          type: array
          items:
            $ref: '#/components/schemas/GroupResponseViewModel'
          description: List of company groups associated with the user.
        keys:
          type: array
          items:
            type: object
          description: List of keys assigned to the user.
        bookmarks:
          type: array
          items:
            type: object
          description: List of bookmarks for the user.
        viewDriversOwnDataOnly:
          type: boolean
          example: false
          description: Whether user can only view their own driver data.
        designation:
          type: string
          example: Manager
          description: Job designation of the user.
        employeeNo:
          type: string
          example: EMP12345
          description: Employee number of the user.
        phoneNumber:
          type: string
          example: +1-123-456-7890
          description: Phone number of the user.
        phoneNumberExtension:
          type: string
          example: '101'
          description: Extension for the phone number.
    GroupResponseViewModel:
      type: object
      properties:
        id:
          type: string
          nullable: false
          example: grp-123
          description: Unique identifier of the group.
        name:
          type: string
          nullable: false
          example: Drivers Group
          description: Name of the group.
        comment:
          type: string
          nullable: true
          example: Main driver group
          description: Additional comments about the group.
        reference:
          type: string
          nullable: true
          example: REF123
          description: Reference information for the group.
        parent:
          $ref: '#/components/schemas/GroupResponseViewModel'
        children:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/GroupResponseViewModel'
          description: List of child groups.
        color:
          $ref: '#/components/schemas/GroupResponseViewModel'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
